*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  
}

html, body, #root{
  height: 100%;
  width: 100%;
}

.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f2f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}